<html>
	<head>
	<style>Body { Background: transparent; padding:0px; margin:0px; font-family: Arial, Helvetica, sans-serif;} form{padding:0px; margin:0px;} td{color:#666666; font-size:10pt;}</style>
	<script src="/javascripts/validate_pdf.js" ajaxrun="noexecute"></script>
	</head>
<% @path = Dir.pwd + '/public/download/practice_area_documents/' %>
		<%= form_tag({ :action => "upload_pdf" }, :multipart => true, :method => "post", :style => "padding:0px;", :onsubmit => "return Validate_pdf(this);") %>
			<table><!--:target => "uploadResult", -->
			      <tr>
				<td colspan="2"><b>PDF Document</b><br/>
					<div id="UploadStatus"><%= @message %>
					<br/>
					<% if File::exists?(@path + params[:id] + '_document.pdf') %>
						<a href="/download/practice_area_documents/<%= params[:id] %>_document.pdf" target="blank_">
							https://www.healthyprice.com/download/practice_area_documents/<%= params[:id] %>_document.pdf
						</a>
					<% else %>
						No PDF Document
					<% end %>
					</div>
				</td>
			      </tr>
			      <tr>
				<td colspan="2">
					Upload a new PDF Document: 
					<input type="hidden" name="id" value="<%= params[:id] %>" />
					<input type="file" size="20" name="doctor[pdf_doc]" />
					<input type="submit" name="upload" value=" Upload " onclick="clicked_button='upload';" />
					<% if File::exists?(@path + params[:id] + '_document.pdf') %>
					<input type="submit" name="delete" value=" Delete " onclick="clicked_button='cancel';" />
					<% end %>
				</td>
			      </tr>
			</table>
		</form>
		<iframe name="uploadResult" style="display:none; visibility:false; height:0px; width:0px;"></iframe>
<script>
<% if @message != "" %>parent.top.document.getElementById('UploadStatus').innerHTML = "<%= @message %>";<% end %>
</script>

<html>
