
<HTML>
<div>

		<p>Amount:<%= @amount%></p>
		<p>Credit Card : <%=@credit_card%></p>
        <p>Order:<%=@order%></p>
        <p>Order Number :<%=@order_number%></p>
        <p>name :<%=@name%></p>
        <p>Email:<%=@email%></p>
        <p>  <%= @billing_code%></p>
        
     
</div>
</HTML>

<%#= @amount%>
 <%#=@credit_card%>
    <%#=@order%>
    
    <%#=@name%>
   